<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.universe.mapper.PermissionMapper">

	<resultMap id="permissionResultMap" type="permission">
		<id property="permId" column="perm_id" />
		<result property="permName" column="perm_name" />
		<result property="description" column="description" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="listPermissions" resultMap="permissionResultMap">
		select perm_id,perm_name,description,create_time,update_time from tbl_role
	</select>
	
	<select id="getPermissionsByUsername" parameterType="string" resultMap="permissionResultMap">
		select tp.perm_id,tp.perm_name from tbl_permission tp
		inner join tbl_role_permission trp on trp.perm_id = tp.perm_id
		inner join tbl_role tr on tr.role_id = trp.role_id
		inner join tbl_user_role tur on tur.role_id = tr.role_id
		inner join tbl_user tu on (tu.user_id = tur.user_id and tu.status = 0)
		where tu.username = #{username}
	</select>
	
	<insert id="insertPermission" parameterType="role">
		insert into tbl_permission ( perm_name, description, create_time, update_time )
		values ( #{permName}, #{description}, #{createTime}, #{updateTime} )
	</insert>
	
	<update id="updatePermission" parameterType="role">
		update tbl_permission
		<set>
			<if test="@com.universe.common.util.ValidatingUtils@isEmpty(permName)">
					perm_name = #{permName},
			</if>
			<if test="@com.universe.common.util.ValidatingUtils@isEmpty(description)">
					description = #{description},
			</if>
			<if test="@com.universe.common.util.ValidatingUtils@isEmpty(createTime)">
					create_time = #{createTime},
			</if>
			<if test="@com.universe.common.util.ValidatingUtils@isEmpty(updateTime)">
					update_time = #{updateTime},
			</if>
		</set>
		where perm_id = #{permId}
	</update>
	
	<update id="deletePermissionByPermId" parameterType="int">
		delete tbl_role where role_id = #{roleId}
	</update>
</mapper>